@{
    ViewData["Title"] = "Détails du film";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p class="alert alert-danger">@ViewData["Message"]</p>
    <dl class="row">
        <dt class="col-sm-2">Titre</dt>
        <dd class="col-sm-10">@Model.Titre</dd>
        
        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.Genre</dd>
        
        <dt class="col-sm-2">Année</dt>
        <dd class="col-sm-10">@Model.Annee</dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary"> Retour à la liste</a>
</div>